<div class="wrapper">
  <form method="post">
    <label for="input-username">Username</label>
    <input id="input-username" name="username" type="text">
    <label for="input-password">password</label>
    <input id="input-password" name="password" type="password">
    <button type="submit">Submit</button>
  </form>
</div>