<div class="wrapper">
  <form method="post">
    <label for="input-username">Username</label>
    <input id="input-username" name="username" type="text">
    <label for="input-password">password</label>
    <input id="input-password" name="password" type="password">
    <label for="input-role">Role</label>
    <select name="role" id="input-role">
      <option value="student" selected>Student</option>
      <option value="assistant">Assistant</option>
      <option value="teacher">Teacher</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</div>